@use '../foundation/variables'as v;
@use '../foundation/functions'as f;

/* 仕様により
画像はリンクのクリック領域とし、マウスオーバーすると1.2倍拡大させてください。 */
.img-hover {
    position: relative;
    display: block;
    overflow: hidden;

    // course 用
    & img {
        display: block;
        width: 100%;
        height: auto;
        transition: transform 0.3s ease;
        will-change: transform;
    }

    &:hover img {
        transform: scale(1.2);
    }

    //footer 用
    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: inherit;
        transition: transform 0.3s ease;
        will-change: transform;
        z-index: 0;
    }

    &:hover::before {
        transform: scale(1.2);
    }
}