@use './variables' as v;
@use './functions' as f;


/* 共通事項
------------------------------------------ */

// 仕様書より追加
// ヘッダーのアンカーリンクにはスムーススクロールを使用してください。
html{
  scroll-behavior: smooth;
}
body {
  font-family: v.$f-main;
  line-height: f.rem(36);
  @include v.rem(16);
  color: v.$c-base;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

a {
  color: v.$c-base;
  text-decoration: none;
  transition: opacity 0.3s ease;;
}
// リンクはマウスオーバー時に透過させる
a:hover{
  opacity: 0.6;
}

ul {
  list-style: none;
}