// 変数定義

//-----------------------------------
//Font
//------------------------------------

// Font Family
$f-main: 'Noto Sans JP',
sans-serif;

// Font Noto Serif
$f-Serif: 'Noto Serif JP',
serif;

// Font Poppins
$f-Poppins: 'Poppins',
sans-serif;

// root Size
$fz-root: 16;

// fontサイズ: ;
$f-ExLight:200;
$f-regular: 400;
$f-medium:500;
$f-bold:700;
$f-Exbold:800;
$f-heavy:900;

// Font Size rem変換
@mixin rem($size) {
  font-size: calc(($size / $fz-root) * 1rem);
}

// Line height
$lh-main: 1.75;

//line-heightをpxから算出
@mixin lh($font-size, $height) {
  line-height: calc($height / $font-size);
}


//-----------------------------------
//Color
//-----------------------------------
$c-base: #333333;
$c-white: #ffffff;
$c-gray: #dddddd;
$c-li-gray:#F0F0F0;
$c-pink:#F11F8D;
$c-li-pink:rgba(255, 85, 85, 0.1);
$c-blue:#005BAC;
$c-skyblue:#3AC8AD;
$c-li-blue:#F2F9FF;
$c-gradient:linear-gradient(135deg, #0271E0, #53A2F0);
$c-shadow:rgba(0, 0, 0, 0.2);
$c-green:#77CB33;
$c-orange:#F6AA00;

//-----------------------------------
//Pass
//-----------------------------------
$pass: '../images/';


//-----------------------------------
//Break Point
//-----------------------------------
$breakpoints: (sp: 'screen and (max-width: 767px)',
  pc: 'screen and (min-width: 768px)',
  pc-wide: 'screen and (min-width: 1200px)',
);


// -----------------------------------
// media query
// -----------------------------------
@mixin mq($bp) {
  @media #{map-get($breakpoints, $bp)} {
    @content;
  }
}


//-----------------------------------
//Base Width
//-----------------------------------
$base-width-sp: 390;
$base-width-pc: 1920;


//-----------------------------------
//Contents Width
//-----------------------------------
$width-main: 950px;
$width-wide: 1200px;