@use '../foundation/variables'as v;
@use '../foundation/functions'as f;

/* フォントの共通スタイル */
// Font Marcellus
.marcellus{
  font-family: v.$f-marcellus;
}


// Font EB Garamond
.eb{
  font-family:v.$f-eb-garamond;
}