@use '../foundation/variables'as v;
@use '../foundation/functions'as f;

/* course
------------------------------------------ */

.course {
  margin-top: clamp(f.rem(67), 4.8vw, f.rem(80));
  margin-bottom: clamp(f.rem(63), 4.3vw, f.rem(72));

  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: clamp(f.rem(23), 2.2vw, f.rem(35));
    justify-content: center;
    align-items: center;

    @include v.mq(pc) {
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: f.rem(31);
    }
  }

  &__item {


    & img {
      display: block;
      width: 100%;
      height: auto;
    }

    &--title {
      font-size: f.rem(20);
      font-weight: v.$f-bold;
      margin-top: clamp(6px, 0.8vw, 10px);
    }

    &--arrow {
      color: v.$c-blue;
      font-weight: v.$f-Exbold;
      text-indent: -7px;
      font-size: f.rem(28);

      @include v.mq(pc) {
        text-indent: -3px;
      }
    }
  }
}


/* タブ */
.st>.tab-content>.tab-pane {
  padding-top: clamp(28px, 2.2vw, 33px);
  padding-bottom: f.rem(52);
  padding-inline: clamp(16px, 2vw, 16px);
  @include v.mq(pc) {
    padding-bottom: f.rem(28);
  }
}

.tab.st-theme-basic {
  --st-anchor-primary-color: #383838;
  --st-anchor-active-primary-color: #383838;
  border: none;
  margin-top: clamp(f.rem(26), 2.8vw, f.rem(43));
  max-width: f.rem(1160);
  margin-left: auto;
  margin-right: auto;
}

/* タブナビゲーション */
.tab.st>.nav {
  column-gap: clamp(f.rem(15), 2vw, f.rem(32));
  flex-direction: row !important;
  padding: 0 1rem;
  @include v.mq(pc) {
    padding: 0;
  }
}


.tab.st-theme-basic>.nav {
  box-shadow: none;
}

.tab.st-theme-basic>.nav .nav-link {
  padding-top: clamp(f.rem(21), 1.6vw, f.rem(23));
  padding-bottom: clamp(f.rem(24), 1.6vw, f.rem(24));
  font-size: clamp(f.rem(18), 1.6vw, f.rem(24));
  font-weight: v.$f-bold;
  line-height: 1;
  background-color: v.$c-li-gray;
  border-radius: f.rem(10) f.rem(10) 0 0;
  color: rgba(51, 51, 51, 0.5);
}

/* アクティブ状態 */
.tab.st-theme-basic>.nav .nav-link.active {
  background-color: v.$c-li-blue;

}

.tab.st-theme-basic>.nav .nav-link.active::after {
  background-color: unset;
  content: none;
}

/* タブコンテンツ */
.tab.st-theme-basic>.tab-content {
  height: auto;
  background-color: v.$c-li-blue;
  border-radius: 0 0 f.rem(10) f.rem(10);
}