@use '../foundation/variables'as v;
@use '../foundation/functions'as f;

/* cover
------------------------------------------ */

.cover {
  position: relative;
  margin-top: clamp(f.rem(70), 8vw, f.rem(101));

  &__img img {
    object-fit: cover;
    object-position: right top;
    aspect-ratio: 375 / 250;
    display: block;

    @include v.mq(pc) {
      aspect-ratio: 950 / 400;
      object-position: left top;
    }
    @media screen and (min-width: 1500px) {
      aspect-ratio: 1920 / 651;
    }

  }

  // 見出し
  &__title {
    position: absolute;
    top: clamp(f.rem(33), 5.4vw, f.rem(108));
    width: 100%;
    @include v.mq(pc) {
      padding-left: 21.4vw;
    }

    & img {
      width: clamp(f.rem(24), 4vw, f.rem(52));
    }

    & h1 {
      font-size: clamp(f.rem(25), 5vw, f.rem(60));
      font-weight: v.$f-heavy;
      color: v.$c-blue;
      line-height: 1.45;
    }
  }

  &__item {
    display: flex;
    align-items: center;

    @include v.mq(pc-wide) {
      gap: f.rem(20);
    }

    &--center {
      text-align: center;
    }

    &--top {
      line-height: 0.5;
      font-size: clamp(f.rem(11), 2.5vw, f.rem(20));
      margin-bottom: f.rem(12);
      margin-top: f.rem(5);

      @include v.mq(pc-wide) {
        margin-bottom: f.rem(9);
        margin-top: f.rem(18);
      }
    }

    &--b1 {
      font-size: clamp(f.rem(25), 4.5vw, f.rem(54));

      @include v.mq(pc-wide) {
        padding-left: f.rem(7);
      }
    }

    &--b2 {
      font-size: clamp(f.rem(36), 6vw, f.rem(74));

      @include v.mq(pc-wide) {
        line-height: f.rem(111);
      }
    }

  }

  &__bottom {
    font-size: clamp(f.rem(14), 2vw, f.rem(33));
    margin-top: clamp(f.rem(25), 2.5vw, f.rem(37));
    line-height: 1.3;

    @include v.mq(pc-wide) {
      margin-bottom: f.rem(7);
    }
  }
}