@use '../foundation/variables'as v;
@use '../foundation/functions'as f;

/* cover
------------------------------------------ */

.cover {
  position: relative;

  &__img {
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 390 / 450;
    object-fit: cover;

    @include v.mq(pc) {
      aspect-ratio: 1500 / 720;
    }
  }

  // 見出し
  &__title {
    position: absolute;
    top: f.rem(416);
    left: 6vw;

    @include v.mq(pc) {
      top: f.rem(272);
      left: 15vw;
    }
  }



  & h1 {
    font-size: clamp(f.rem(41), 2rem + 1.5vw, f.rem(50));
    line-height: 1.3;
    letter-spacing: clamp(f.rem(12), 0.5rem + 0.8vw, f.rem(15));
    font-weight: v.$f-regular;
  }

  & p {
    font-size: clamp(f.rem(20), 1rem + 0.8vw, f.rem(25));
    letter-spacing: clamp(f.rem(6), 0.25rem + 0.5vw, f.rem(7));
    line-height: 1.9;

    @include v.mq(pc) {
      margin-top: f.rem(5);
    }
  }
}