@use '../foundation/variables'as v;
@use '../foundation/functions'as f;

/* footer
------------------------------------------ */

.footer {
  background-color: v.$c-blue;
  color: v.$c-white;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: clamp(f.rem(18), 1rem + 0.4vw, f.rem(24)) 0 f.rem(22);

  @media screen and (min-width: v.$width-main) {
    flex-direction: row;
    justify-content: center;
    column-gap: f.rem(20);
  }

  @media screen and (min-width: 1200px) {
    column-gap: f.rem(155);
  }

  &__top {

    & p {
      font-size: clamp(f.rem(28), 1.6rem + 1.4vw, f.rem(32));
      letter-spacing: 5.5px;

      @include v.mq(pc) {
        letter-spacing: 6px;
      }
    }
  }

  &__midst {
    padding-top: f.rem(15);

    @include v.mq(pc) {
      padding-top: 0;
      padding-left: f.rem(49);
    }

    & ul {
      display: flex;
      justify-content: space-between;
      column-gap: f.rem(30);
      font-size: clamp(f.rem(12), 1.6rem + 1.4vw, f.rem(14));
    }
  }

  &__bottom {
    padding-top: f.rem(20);

    @include v.mq(pc) {
      padding-top: 0;
    }

    p {
      font-size: clamp(f.rem(11), 0.65rem + 1vw, f.rem(12));
    }
  }
}