@use '../foundation/variables'as v;
@use '../foundation/functions'as f;

/* point
------------------------------------------ */
.point {
  position: relative;
  overflow: hidden;

  @media screen and (min-width: 550px) {
    height: f.rem(550);
  }
  @media screen and (min-width: 1499px) {
    height: auto;
  }

  &__img {
    width: 100%;
    height: 100%;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 40% 80%;
    }
  }

  &__content {
    position: absolute;
    color: v.$c-white;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    @include v.mq(pc) {
      max-width: f.rem(462);
      left: auto;
      right: 15.5%;
      top: 51%;
      transform: translateY(-51%);
    }


    & h2 {
      font-size: clamp(f.rem(30), 1.5rem + 1vw, f.rem(38));
      font-weight: v.$f-bold;
      text-align: center;
      line-height: 1.7;

      @include v.mq(pc) {
        text-align: left;
        line-height: 1.5;
      }
    }

    & h3 {
      font-size: f.rem(24);
      font-weight: v.$f-semibold;
      text-align: center;
      padding-bottom: clamp(f.rem(9), 0.5rem + 0.2vw, f.rem(11));

      @include v.mq(pc) {
        text-align: left;
        line-height: 2;
      }
    }

    & p {
      font-size: f.rem(14);
      line-height: calc(32 / 14);
    }
  }
}