@use '../foundation/variables'as v;
@use '../foundation/functions'as f;

/* Q&A
------------------------------------------ */

.qa {
  background: linear-gradient(to right, #F4FFE8, #C6F0FE);
  padding:   clamp(f.rem(25), 1.3rem + 1.7vw, f.rem(30))
    1rem
    clamp(f.rem(36), 2rem + 0.8vw, f.rem(41));

  &__inner {
    max-width: f.rem(600);
    margin: clamp(f.rem(40), 2.2rem + 1.7vw, f.rem(46)) auto 0 ;
  }
}


.accordion {
  display: flex;
  flex-direction: column;
  row-gap: clamp(f.rem(20), 1.1rem + 1.5vw, f.rem(26));

  &__common {
    display: flex;
    column-gap: clamp(f.rem(12), 0.6rem + 1.4vw, f.rem(17));
    font-weight: v.$f-medium;

    &--ico {
      @include v.mq(pc) {
        font-size: f.rem(18);
      }
    }

    &--text {
      font-size: f.rem(15);
      line-height: 1.85;
    }
  }
}

/* アコーディオンの質問部分 */
.accordion-section {
  background-color: v.$c-white;
  position: relative;
  padding: f.rem(19) f.rem(21) f.rem(13) f.rem(16);

  @include v.mq(pc) {
    padding: f.rem(22) 0 f.rem(15) f.rem(24);
  }
}

/* アコーディオンのコンテンツ部分 */
.accordion-content {
  display: none;
  background-color: v.$c-white;
  padding: 0 f.rem(15) f.rem(30);

  @include v.mq(pc) {
    padding: 0 f.rem(25) f.rem(22) f.rem(23);
  }
}

/* 初期状態を表示するとき用のクラス */
.accordion-content-active {
  display: block;
}

/* 矢印アイコン */
.bi-caret-down-fill {
  position: absolute;
  top: clamp(30%, 33%, 38%);
  right: clamp(f.rem(14), 1rem + 1.4vw, f.rem(21));
  line-height: 1;
  cursor: pointer;
  font-size: clamp(f.rem(15), 0.8rem + 1.4vw, f.rem(18));
  transition: transform 0.3s ease;
}

/* 矢印アイコンの向きを変える*/
.bi-caret-down-fill.open::before {
  transform: rotate(180deg);
}