@use '../foundation/variables'as v;
@use '../foundation/functions'as f;

/* Voices
------------------------------------------ */
.voice {
  margin: clamp(f.rem(44), 2.2rem + 2.5vw, f.rem(71)) auto clamp(f.rem(43), 2.2rem + 2.7vw, f.rem(73));

  &__slider {
    position: relative;
    max-width: f.rem(1200);
    margin: clamp(f.rem(39), 2rem + 1vw, f.rem(45)) auto 0;

    & .swiper {
      margin: 0 auto;
      overflow: hidden;
      max-width: 80%;
      padding-bottom: clamp(f.rem(16), 0.8rem + 0.5vw, f.rem(24));

      // PC
      @include v.mq(pc) {
        max-width: f.rem(984);
      }

    }
  }
}

/* 小見出し
------------------------------------------ */

h4 {
  font-size: clamp(f.rem(30), 1.4rem + 1.6vw, f.rem(45));
  font-weight: v.$f-bold;
  text-align: center;
  letter-spacing: 1px;
}

h5 {
  font-size: clamp(f.rem(16), 0.85rem + 0.5vw, f.rem(20));
  font-weight: v.$f-semibold;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1;
}

/* スライド
------------------------------------------ */

// スライド1枚のデザイン
.swiper-slide {
  width: clamp(f.rem(280), 16.5rem + 2.5vw, f.rem(300));
  margin: 0 auto 1rem;
  background-color: v.$c-li-green;
  padding-top: f.rem(28);
  padding-bottom: f.rem(24);

  @include v.mq(pc) {
    padding-top: f.rem(43);
    padding-bottom: f.rem(38);
  }

  &__img {
    width: clamp(f.rem(80), 4.5rem + 2vw, f.rem(100));
    height: clamp(f.rem(80), 4.5rem + 2vw, f.rem(100));
    border-radius: 50%;
    margin: 0 auto f.rem(8);
    padding-left: f.rem(13);
    overflow: hidden;

    @include v.mq(pc) {
      padding-left: f.rem(6);
      margin-bottom: f.rem(6);
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__name {
    text-align: center;
    font-size: clamp(f.rem(14), 0.8rem + 0.2vw, f.rem(15));
    margin-bottom: f.rem(13);

    @include v.mq(pc) {
      margin-bottom: f.rem(6);
    }
  }

  &__text {
    padding-left: clamp(f.rem(15), 0.8rem + 0.4vw, f.rem(18));
    padding-right: clamp(f.rem(15), 0.8rem + 0.4vw, f.rem(18));
    line-height: 1.97;
    font-size: clamp(f.rem(14), 0.8rem + 0.3vw, f.rem(16));

    @include v.mq(pc) {
      line-height: 1.8;
    }
  }
}

// ページネーション
.swiper-pagination-bullet-active {
  background-color: v.$c-green-arrow;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0;
}

// 矢印ボタンのデザイン
.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 46%;
  z-index: 10;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: clamp(f.rem(18), 0.8rem + 1.8vw, f.rem(34));
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: clamp(f.rem(18), 0.8rem + 1.8vw, f.rem(34));
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 1;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-family: "bootstrap-icons";
  font-size: clamp(f.rem(20), 1rem + 1.8vw, f.rem(36));
  background-color: v.$c-green-arrow;
  color: v.$c-white;
  border-radius: 50%;
  padding: f.rem(5);
}

.swiper-button-prev:after {
  content: '\F12F';
}

.swiper-button-next:after {
  content: "\F138";
}